.search_div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin-top: 95px;
}

input{
    width: 600px;
    height: 35px;
}

input[type="text"]{
    padding-left: 20px;
}
